
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
@model Bayi.DTO.Product.ListProductSpecificResponse
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <h1>Ürün Düzenle</h1>
            </div>
            <div class="col-md-5">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Ürün Yönetimi</a></li>
                    <li class="breadcrumb-item active">Ürün Düzenle</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Bilgiler</h3>


                </div>
                <form id="productForm" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Ürün İsmi</label>
                            <input type="text" id="txtProductName" value="@Model.ProductName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputEstimatedBudget">Birim Alış Fiyatı</label>
                            <input type="text" value="@Model.BuyingPrice" id="txtBuyingPrice" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEstimatedBudget">Birim Satış Fiyatı</label>
                            <input type="text" value="@Model.SalePrice" id="txtSalePrice" class="form-control" required>
                        </div>

                    </div>
                    <div class="col-md-2">

                        <!-- /.card -->
                    </div>
                    <div class="row mb-4">

                        <div class="col-12">
                            <a href="/Admin/Product/List" class="btn btn-secondary ml-3" style="background-color:red !important;border-color:red !important;">İptal Et</a>

                            <input type="submit" id="btnUpdate" value="Düzenle" data-id="@Model.Id" class="btn btn-success float-right mr-3">

                            <button type="button" style="width: 50px; height: 38px;" id="btnDelete" data-record-id="@Model.Id" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger float-right mr-2">Sil</button>

                        </div>

                    </div>
                </form>

                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div>

</section>
@section JS{
    <script>var updateProductUrl = '/Admin/Product/UpdateProduct';</script>
    <script>var deleteProductUrl = '/Admin/Product/DeleteProduct';</script>
    <script src="/js/CustomScripts/Product/updateProduct.js"></script>
    <script src="/js/CustomScripts/Product/deleteProduct.js"></script>
}

